* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

}

body h1 {
    text-align: center;
    margin: 7vh 3vw 3vh 3vw;
    color: #C70039;

}

.display {
    width: 95%;
    height: 20vw;
    background-color: #FFF5E0;
    color: #141E46;
    font-size: 400%;
    border-radius: 20px;
    border: 3px solid #141E46;

}

.calc {
    text-align: center;
}

.keys {
    margin: 7vh 0 0 0;
    width: 95%;

}

.keys button {
    width: 23%;
    font-size: 360%;
    padding: 2%;
    text-align: center;
    border: none;
    margin: 2px;
}

.nums {
    border-radius: 50%;
    background-color: #FF6969;
    color: #141E46;
}

.operators {
    border-radius: 0;
    background-color: #141E46;
    color: #FF6969;
    border-radius: 50px;
}

#equalbtn {
    width: 98%;
}

@media screen and (min-width:600px) {
    .display {
        height: 10vh;
        width: 73%;
    }

    .keys button {
        width: 20%;
        height: 15vh;
        font-size: 300%;
        


    }

    .keys {
        margin: 3vh 0 0 0;
        width: 95%;
    }
    #equalbtn {
        width: 83%;
    }
    body h1 {
        margin: 2vh 3vw 3vh 3vw;
    
    }
    

}